ion-card {
  margin-bottom: 20px;
  border-radius: 14px;
}

.panel-info {
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  margin: 10px;
  position: sticky;
  top: 0;
  z-index: 1000;
}
